.input {
  position: relative;
  input {
    width: 100%;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    border-radius: 3px;
    background: #fafafa;
    margin-bottom: 6px;
    padding: 14px 70px 2px 8px;
    height: 38px;
    font-size: 12px;
    color: #262626;
  }

  .label {
    position: absolute;
    left: 8px;
    top: 7px;
    color: #8e8e8e;
    font-size: 16px;
    transition: 0.4s all ease;
    pointer-events: none;
  }

  .passwordBtn {
    position: absolute;
    right: 8px;
    top: 9px;
    font-weight: 600;
    color: #262626;
    font-size: 14px;
  }

  input:focus, input:not([value=""]):not(:focus) {
    outline: none;

    & + .label {
      top: 2px;
      font-size: 12px;
    }
  }

}

