.post {
  background: #ffffff;
  position: fixed;
  width: calc(100vw - 120px);
  height: calc(100vh - 60px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  max-width: 1200px;
  max-height: 770px;
}

.inner {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider {
  width: 65%;
}

.head {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;

  &Inner {
    margin-left: 14px;
  }
}

.name {
  font-weight: 600;
}

.place {
  color: rgb(142,142,142);
  font-size: 12px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.comments {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.comment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;

  &Text {
    margin-left: 14px;
  }
}

.footer {
  border-top: 1px solid #dbdbdb;
  padding: 16px;
}

.likesInfo {
  margin-top: 20px;
  font-weight: 600;
  margin-bottom: 4px;
  cursor: pointer;
}

.date {
  font-size: 10px;
  text-transform: uppercase;
  color: rgb(142,142,142);
}

.like {
  cursor: pointer;
}
