.post {
  background: #ffffff;
  position: fixed;
  width: calc(100vw - 120px);
  height: calc(100vh - 60px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  max-width: 1200px;
  max-height: 770px;
}

.inner {
  width: 35%;
}

.slider {
  width: 65%;
}

.head {
  padding: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid #dbdbdb;
}

.name {
  font-weight: 600;
  margin-left: 14px;
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.comment {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px;

}