.confirm {
  max-width: 400px;
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  border-radius: 12px;
}

.head {
  padding: 32px 32px 16px;
}

.title {
  font-weight: 600;
}

.text {
  padding-top: 16px;
  font-size: 14px;
  line-height: 19px;
  color: rgb(142,142,142);
}

.btns {
  display: flex;
  flex-direction: column;
}

.btn {
  border-top: 1px #dbdbdb solid;
  min-height: 48px;
}

.btnConfirm {
  color: rgb(237,73,86);
  font-weight: 600;
}